@font-face{
    font-family: 'Bitter-Bold';
    src: url('../assets/fonts/bitter/Bitter-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Bitter-Italic';
    src: url('../assets/fonts/bitter/Bitter-Italic.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Bitter-Regular';
    src: url('../assets/fonts/bitter/Bitter-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'SourceSansPro-Black';
    src: url('../assets/fonts/source_sans_pro/SourceSansPro-Black.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'SourceSansPro-Bold';
    src: url('../assets/fonts/source_sans_pro/SourceSansPro-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'SourceSansPro-Regular';
    src: url('../assets/fonts/source_sans_pro/SourceSansPro-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'SourceSansPro-SemiBold';
    src: url('../assets/fonts/source_sans_pro/SourceSansPro-SemiBold.ttf');
    font-weight: normal;
    font-style: normal;
}